.btn
{
  font-size: 14px;
}
h1,h2
{
  font-weight: lighter;
  font-size: 36px; 
  color:#000;
}
p
{
  color:#000;
  font-size: 16px;
}
 h5
{
    color: #000;
 }
/*start Header*/
.header
{
  background-color: #365899;
}
.logo img
{
  height: 20px;
}
.header-links
{
  text-decoration: none;
  margin-top: 13px;
}
.header .resourse:hover,.header .support
{
  text-decoration: none;
}
/*End Header*/
/*start our navbar*/
.navbar-light .navbar-nav .nav-link
{
  font-size: 17px;
  color: #000000;
}
.navbar-light .navbar-nav .nav-link:hover,.navbar .dropdown-item
{
  color:#5aa4f3;
}
.navbar-expand-lg .navbar-nav .dropdown-menu
{
  width:  1000px;
  height: 250px;
  background-color: #f8f8f8;
}
.dropdown:hover .dropdown-menu
{
   display:inline-block;
}
/*End our navbar*/
/*End Header*/
/* carousel*/
.carousel-item
{
  padding-top: 109px;
}
.carousel-control-prev::before, .carousel-control-next::before
{
  content: '';
  display: block;
  height: 50px;
  transform: rotate(45deg);
  transition: all .4s 0s ease;
  width: 50px;
}
.carousel-control-prev::before
{
  border-bottom: 2px solid #d6d6d7;
  border-left: 2px solid #d6d6d7;
}
.carousel-control-next::before
 {
   border-right: 2px solid #d6d6d7;
   border-top: 2px solid #d6d6d7;
 }
.carousel-control-prev,.carousel-control-next
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 5;
  margin-top: 50px;
}
.carousel-control-next
{ 
  right: 40px;
}
.carousel-control-prev
{
  left: 40px;
}
.carousel img
{
  height: 250px;
}
.carousel-caption a:link
{
  text-decoration: underline;
}
.carousel-caption a:hover
{
  text-decoration: none;
}
/*End carousel*/
/*Start Facebook Section*/
.main
{
  background: url("../image/facebook.jpg")no-repeat center center;
  height: 850px;
  background-size: cover;
}
.main .inner-img
{
   transform: rotatez(6deg);
   margin: 65px;
   margin-top: 100px;
}
#img1
{
  width: 306px;
  height: 624px;
}
.main .block
{
  margin-top: 315px;
}
#img2
{
  width:265px;
  height: 471px;
  position: absolute;
  top: 80px;
  right: 34px;
  background: url("../image/iphone3.jpg")no-repeat center center;
  background-size: 264px 411px;
}
/*End Facebook Section*/
/*Start instgram Section*/
.main .instgram
{
  background-image: url("../image/instgramback.jpg");
  height: 850px;
}
.main .instgram .inner-img
 {
   transform: rotatez(-6deg);
 }
#img22
{
  width: 265px;
  height: 32px;
  position: absolute;
  bottom: 77px;
  left: 20px;
}
.main .instgram #img1
{
  background: url("../image/instgram3.jpg")no-repeat center center;
  background-size: 278px 467px;
}
/*End instgram Section*/
/*Start messenger Section*/
.messenger-1 div:nth-child(odd)
{
  background-color: #4080ff;
  margin-bottom:20px;
  border-radius: 20px;
  border-top-right-radius: 0px;
  color: white;
  margin-left: 25px;
  padding: 10px;
}
.messenger-1 div:nth-child(even)
{
  background-color: #e9ebee;
  margin-bottom: 20px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  padding: 10px;
}
/*End messenger Section*/
/*Start audience Section*/
.main .audience
{
  background-image: url("../image/audienceback.jpg");
  height: 850px;
}
.main .audience #img1
{
  background: url("../image/audience2.jpg") no-repeat center center;
  background-size: 270px 477px;
}
/*End audience Section*/
/*Start awareness Section*/
.main .awareness
{
  background-color: rgb(246, 247, 249);
  height: 850px;;
}
.main .awareness #img2
{
  background-image: url("../image/awarenessback.jpg");
}
/*End awareness Section*/
/*Start increase-traffic Section*/
.main .traffic .inner-img
{
  transform: rotatez(-6deg);
}
.main .traffic #img22
{
  bottom: 514px;
}
.main .traffic #img1
{
  background: url("../image/traffic1.jpg")no-repeat center center;
  background-size: 266px 485px;
}
/*End increase-traffic Section*/
/*Start MEASURE RESULTS Section*/
.main .measure #img2
{
  background-image: url("../image/measure1.jpg");
}
/*End MEASURE RESULTS Section*/
/*Start slideshow Section*/
.main .slideshow
{
  background-image: url("../image/slideshowback.jpg");
  height: 850px;
}
.main .slideshow .inner-img
{
  transform: rotate(0deg);
}
.main .slideshow a:hover
{
  text-decoration: none;
}
/*End slideshow Section*/
/*Start Video Section*/
.main .video
{
  background-image: url("../image/videoback.jpg");
}
.main .video .inner-img
{
  background: url("../image/videoback.png") no-repeat center center;
}
/*End Video Section*/
/*Start Canvas Section*/
.main .canvas
{
  background-image: url("../image/canvasback.jpg");
}
/*End Canvas Section*/
/*Start Facebook News Section*/
.facebook-news .first-fbnews img
{
  transition: all .7s ease-in-out;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 25px;
}
.facebook-news .first-fbnews img:hover
{
  transform: scale(1.04);
}
.facebook-news .last-fbnews img
{
  height: 90px;width: 180px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 35px;
}
/*End Facebook News Section*/